[*.cs]

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = silent

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none
